@import url("https://fonts.googleapis.com/css?family=Helvetica");
#hslNav{ display: none !important; }
.linksContainer{ display: none !important; }
body{ background-color: #ffffff !important; }
#hslNav{ background-color: #ffffff !important; }
.da-attachment-email-all{ display: none !important; }
.da-attachment-download-all{ display: none !important; }
.daundertext a{
color: #212121 !important;
}
.daundertext a:hover{
color: #64edce !important;
text-decoration: underline !important;
}
a {
text-decoration: underline !important;
}
a:hover {
background-color:#yyyyyyy !important;
}
  
.nav-pills .nav-link:not(.active):not(.text-muted)::before {
border: 2px solid #212121 !important;
}
.nav-pills .nav-link:not(.active):not(.text-muted)::after {
color: #212121 !important;
}
.nav-pills .nav-link:not(.active):not(.text-muted) {
color: #212121 !important;
}
.nav-link{
font-family: "Helvetica" !important;
}
.nav-link.active{
font-family: "Helvetica" !important;
color: #64edce !important;
border-color: #ffffff !important;
background-color: #212121 !important;
}
.row.da-field-container.da-field-container-note, .da-subquestion{
color: #212121 !important;
font-family: "Helvetica" !important;
}
.row.da-field-container.da-field-container-note a{
color: #212121 !important;
}
.row.da-field-container.da-field-container-note a:hover{
color: ##64edce !important;
}
.da-page-header {
}
.da-page-header h1 {
color: #212121 !important;
font-family: "Helvetica" !important;
}
.da-form-label {
color: #212121 !important;
font-family: "Helvetica" !important;
}
.da-field-container-datatype-text .dafieldpart input,
.da-field-container-datatype-integer .dafieldpart input,
.da-field-container-datatype-email .dafieldpart input,
.da-field-container-datatype-date .dafieldpart input,
.da-field-container-datatype-number .dafieldpart input,
.da-field-container-datatype-csv .dafieldpart input
{
color: #212121 !important;
border-radius: 8px !important;
background-color: #fff !important;
font-family: "Helvetica" !important;
}
.da-field-container-inputtype-area .dafieldpart textarea {
color: #212121 !important;
border-radius: 8px !important;
background-color: #fff !important;
font-family: "Helvetica" !important;
}
input.labelauty + label.btn-light{
border-radius: 8px !important;
font-family: "Helvetica" !important;
background-color: #fff !important;
}
input.labelauty + label.btn-primary{
border-radius: 8px !important;
font-family: "Helvetica" !important;
background-color: #e7f0fe !important;
}
input.labelauty + label.btn-light:hover, input.labelauty + label.btn-primary:hover{
background-color: #64edce !important;
}
.labelauty-checked-image{
background-color: #fff !important;
box-shadow: 0 0 0 3px #fff, 0 0 0 5px #212121 !important;
background-color: #212121 !important;
}
.labelauty-checked{
color: #212121 !important;
}
.labelauty-unchecked-image{
background-color: #fff !important;
}
.labelauty-unchecked{
color: #212121 !important;
}
.da-field-checkboxes span.labelauty-checked-image{
background-color: #fff !important;
box-shadow: #212121 0px 0px 0px 1px !important;
background-color: #212121 !important;
}
.da-field-checkboxes span.labelauty-unchecked-image {
background-color: #fff !important;
}
span.da-has-error {
}
.invalid-feedback{
color: #f47373 !important;
}
.combobox-container input{
color: #212121 !important;
font-family: "Helvetica" !important;
border-radius-key: 8px !important;
border-top-left-radius: 8px !important;
border-bottom-left-radius: 8px !important;
}
.dropdown-menu{
border-color: #212121 !important;
border-radius: 8px !important;
background-color: #fff !important;
font-family: "Helvetica" !important;
}
.dacomboboxtoggle{
color: #212121 !important;
border-color: #dee2e6 !important;
background-color: #c3c3c3 !important;
border-top-right-radius: 8px !important;
border-bottom-right-radius: 8px !important;
}
.dacomboboxtoggle:hover{
color: #212121 !important;
background-color: #64edce !important;
}
.dropdown-item{
color: #212121 !important;
}
.dropdown-item:hover, .dropdown-item.active{
background-color: #64edce !important;
}
.form-select {
background-color: #fff !important;
color: #212121 !important;
border-radius: 8px !important;
background-color: #fff !important;
font-family: "Helvetica" !important;
}
button.daquestionbackbutton.btn-light{
border-color:transparent !important;
}
button.daquestionbackbutton {
color: #212121 !important;
border-radius: 8px !important;
}
button.daquestionbackbutton:hover {
color: #64edce !important;
}
fieldset.daFieldButtons {
}
.btn.btn-da.btn-primary, .btn.btn-primary:disabled, .btn.btn-primary.disabled, .btn-secondary.disabled, .btn-secondary:disabled {
color: #64edce !important;
border-radius: 8px !important;
background-color: #212121 !important;
font-family: "Helvetica" !important;
}
.btn.btn-da.btn-primary{
border-color:transparent !important;
}
.btn.btn-da.btn-secondary, p .btn-secondary.btn-sm {
color: #000000 !important;
border-radius: 8px !important;
background-color: #64edce !important;
font-family: "Helvetica" !important;
border-width : 0px !important;
}
.btn.btn-da.btn-secondary:hover, p .btn-secondary.btn-sm:hover {
color: #64edce !important;
background-color: #212121 !important;
border-color : #212121 !important;
}
.btn-warning {
border-color: transparent !important;
border-radius: 8px !important;
font-family: "Helvetica" !important;
background-color: #bdfced !important;
}
.btn.btn-da.btn-primary:hover{
color: #fff !important;
background-color: #64edce !important;
}
.row.da-field-container.da-field-container-note  h4{
color: #212121 !important;
font-family: "Helvetica" !important;
}
.bg-light{
background-color: #e7f0fe !important;
}
.da-review-button{
border-radius: 13px !important;
}
#daform .da-review-action.da-review-action-button, table.table.table-striped tr td a.btn.btn-darevisit:not(.btn-danger) {
color: #212121 !important;
border-color: #d9e3f0 !important;
background-color: #ffffff !important;
}
#daform .da-review-action.da-review-action-button:hover, table.table.table-striped tr td a.btn.btn-darevisit:not(.btn-danger):hover{
color: #212121 !important;
border-color: #64edce !important;
background-color: #64edce !important;
}
.da-review-button p{
font-family: "Helvetica" !important;
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-search--dropdown .select2-search__field {
color: #212121 !important;
border-radius: 8px !important;
background-color: #fff !important;
font-family: "Helvetica" !important;
}
.select2-container--default .select2-search--dropdown .select2-search__field  {
outline-color : undefined !important;
outline-style :  undefined !important;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder{
font-family: "Helvetica" !important;
}
.select2-results__option{
font-family: "Helvetica" !important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable
{
border-color: #212121 !important;
border-radius: 8px !important;
background-color: #fff !important;
font-family: "Helvetica" !important;
}
.select2-container--default .select2-results__option--selectable.select2-results__option--highlighted{
color: #212121 !important;
background-color: #64edce !important;
}
.da-attachment-title-wrapper h3{
color: #212121 !important;
font-family: "Helvetica" !important;
}
.da-attachment-download-wrapper p a {
color: #64edce !important;
border-radius: 8px !important;
background-color: #212121 !important;
}
.da-attachment-download-wrapper p a:hover{
color: #212121 !important;
background-color: #64edce !important;
}
hr{
}
.table-responsive + p a.btn-success, .btn.dacollectadd {
color: #64edce !important;
border-color: #000000 !important;
background-color: #000000 !important;
border-radius : 8px !important;
}
.table-responsive + p a.btn-success:hover, .btn.dacollectadd:hover{
color: #fff !important;
background-color: #64edce !important;
}
table.table.table-striped tr td a.btn.btn-darevisit.btn-danger, button.btn.dacollectremoveexisting, button.btn.dacollectremove{
color: #64edce !important;
border-color: #212121 !important;
background-color: #212121 !important;
}
table.table.table-striped tr td a.btn.btn-darevisit.btn-danger:hover, button.btn.dacollectremoveexisting:hover, button.btn.dacollectremove:hover{
background-color : #64edce !important;
color : #212121 !important;
border-color : #64edce !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
font-family: "Helvetica" !important;
}
.da-subquestion h2, .h2{
color: #212121 !important;
font-family: "Helvetica" !important;
}
.table.table-striped thead th{
font-family: "Helvetica" !important;
}
.table-striped tbody tr:nth-of-type(2n+1), .table.table-striped thead th{
background-color: #e7f0fe !important;
}
.table-striped tbody tr:nth-of-type(2n){
background-color: #fff !important;
}
.table > :not(caption) > * > *{
box-shadow: none !important;
}
.table tr{
font-family: "Helvetica" !important;
}
.btn-info{
background-color : #212121 !important;
border-color : #212121 !important;
color : #64edce !important;
font-family: "Helvetica" !important;
border-radius : 8px !important;
}
.btn-info:hover{
color : #212121 !important;
}
.btn-secondary:focus, .btn-secondary.focus,     .btn.btn-da.btn-primary:focus, .btn-primary:focus{
box-shadow: none !important;
}
  
